@page "/"
@page "/user"
@using BlazorApp.Model


<div class="mb-3">
    <ul class="breadcrumbs">
        <li><a href="#">Users</a></li>
        <li><a href="#">Users Group</a></li>
        <li><a href="#">User Roles</a></li>
        <li><a href="#">System Configuration</a></li>
        <li><a href="#">Logs</a></li>
    </ul>
</div>
<div class="btn-group" id="dropdown-column">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Users
    </button>
    <ul class="dropdown-menu">
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Users Group</a></li>
        <li><a class="dropdown-item" href="#">Users Roles</a></li>
        <li><a class="dropdown-item" href="#">System Configuration</a></li>
        <li><a class="dropdown-item" href="#">Logs</a></li>
    </ul>
</div>
<p class="txt-title">USERS</p>
<div class="table-responsive">
<table class="table align-middle">
    <thead>
        <tr>
            <th colspan="8">
                <div class="d-flex justify-content-between p-2">
                    <div class="search-container">
                        <div></div>
                        <input class="input-box" type="text" placeholder="&#x1F50E;&#xFE0E; &nbsp;Search Name" />
                    </div>
                    <button type="button" class="btn btn-warning">
                        <i class="fa-solid fa-plus fa-sm"></i>
                        &nbsp;&nbsp;Add a New User
                    </button>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="custom-thead">
            <th class="custom-font-tbody-th">
                <input class="custom_cb" type="checkbox" @bind="IsAllSelected" />
            </th>
            <th class="custom-font-tbody-th">Assigned To</th>
            <th class="custom-font-tbody-th">Username</th>
            <th class="custom-font-tbody-th">Email Address</th>
            <th class="custom-font-tbody-th">Status</th>
            <th class="custom-font-tbody-th">Role</th>
            <th class="custom-font-tbody-th">Action</th>
            <!-- Add more columns as needed -->
        </tr>
        @foreach (var item in Items)
        {
            <tr>
                <td class="custom-font-tbody-th">
                    <input class="custom_cb" type="checkbox" @bind="item.Selected" />
                </td>
                <td class="custom-font-tbody-td">@item.Column1</td>
                <td class="custom-font-tbody-td">@item.Column2</td>
                <td class="custom-font-tbody-td">@item.Column3</td>
                <td class="custom-font-tbody-td">
                    @if (item.Column4 == "Active")
                    {
                        <span class="badge-active">@item.Column4</span>
                    }
                    else if (item.Column4 == "Disable")
                    {
                        <span class="badge-disable">@item.Column4</span>
                    }
                </td>
                <td class="custom-font-tbody-td">@item.Column5</td>
                <td class="custom-font-tbody-td">
                    <div class="dropdown">
                        <button class="btn btn-light" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                    </div>
                </td>
                <!-- Add more columns as needed -->
            </tr>
        }
    </tbody>
</table>
</div>
<div class="mt-4">
    <DeleteButton Icon="images/delete-icon.png" Text="Delete"/>
</div>
@code {
    public List<TableItem> Items { get; set; } = new List<TableItem>();

    protected override void OnInitialized()
    {
        // Initialize table data
        Items = new List<TableItem>
{
new TableItem { Column1 = "Anathealyn :'>", Column2 = "TestUserName", Column3 = "test123@gmail.com", Column4 = "Active", Column5 = "ADMIN",
Selected = false },
new TableItem { Column1 = "Anathealyn :'>", Column2 = "TestUserName1", Column3 = "test123@gmail.com", Column4 = "Disable", Column5 = "ADMIN",
Selected = false },
new TableItem { Column1 = "Anathealyn :'>", Column2 = "TestUserName2", Column3 = "test123@gmail.com", Column4 = "Disable", Column5 = "ADMIN",
Selected = false },
new TableItem { Column1 = "Anathealyn :'>", Column2 = "TestUserName3", Column3 = "test123@gmail.com", Column4 = "Active", Column5 = "USER",
Selected = false }
// Add more items as needed 
};
    }

    private bool _isAllSelected;
    public bool IsAllSelected
    {
        get => _isAllSelected;
        set
        {
            if (_isAllSelected != value)
            {
                _isAllSelected = value;
                CheckAllCheckBoxes(value);
            }
        }
    }
    private void CheckAllCheckBoxes(bool isChecked)
    {
        foreach (var item in Items)
        {
            item.Selected = isChecked;
        }
    }
}
